.ammonite/scala-2.12.12/amm-2.2.0-4-4bd225e/scala_lessons/Week1/Lecture1_1/src/ammonite/$file/scala_lessons/Week1/Lecture1_1.scala
.ammonite/scala-2.12.12/amm-2.2.0-4-4bd225e/scala_lessons/Week1/Lecture1_1/target/ammonite/$file/scala_lessons/Week1/Lecture1_1.class
*.ammonite/
*.metals/
